/* Arquivo CSS */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap'); /* Seleciona uma fonte da API do Google */

:root {
    /* Cria uma variável global para colocar a cor do background */
    --primary-color: rgba(151, 230, 115, 0.685); 
    --primary-color-darker: rgba(51, 107, 25, 0.685);
    --primary-color-more-darker: rgba(32, 66, 15, 0.685);
}

* { /* O * serve para selecionar todos os elementos da página */
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color); /* Utiliza a variável criada */
    font-family: 'Open sans', sans-serif; /* Utiliza a fonte do link. Caso não exista a primeira, uma segunda é selecionada */
    font-size: 1.3em; /* Tamanho da fonte */
    line-height: 1.5em; /* Altura da linha */
}

.container { /* Seleciona o container do HTML */
    max-width: 640px;  /* Define a largura máxima do container */
    margin: 50px auto; /* Define a distância da margem do topo da página */
    background: #ffffff;
    padding: 20px; /* Define a distância entre o conteúdo de um elemento e suas bordas */
    border-radius: 10px; /* Arredonda a borda do container */
}

form input, form label, form button { /* Seleciona todos os elementos do formulário */
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;

}

form input:focus {
    outline: 1px solid var(--primary-color); /* Coloca nas bordas dos inputs a cor do background */

}

form button {
    border: none;
    background: var(--primary-color-darker);
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer; /* Uma "mãozinha fica em cima do botão quando é selecionado" */
    margin-top: 30px;
}

form button:hover { /* Quando passa o mouse em cima do botão */
    background: var(--primary-color-more-darker);
}

.relogio {
    font-size: 3em;
}

.pausado {
    color: red;
}